.battery-arc-indicator {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(124, 109, 80);
    border-right-color: rgb(124, 109, 80);
    border-top-color: rgb(185, 167, 120);
    border-bottom-color: rgb(72, 62, 46);
    width: 30px;
    height: 100px;
}
